<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kicker is active!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap & font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            background-color: #2f2f2f;
            color: #fff;
        }
        p {
            font-size: 16px;
        }
        .margin { 
            margin-bottom: 55px; 
        }
        .container {
            padding: 80px 0;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <h1 class="margin">Activity detected!!!</h1>
        <img src="{{url_for('static', filename='kicker.jpg')}}" class="img-responsive img-circle margin" style="display:inline" alt="Kicker" width="500" height="500">
        <h2>Go play!</h2>
    </div>
</body>
</html>